<h1>Interesting People</h1>
<div ng-app="app">
  <div ng-controller="peopleCtrl" ng-init="fetchData()">

    <label>Filter by name</label>
    <input ng-model="nameFilter">

    <button ng-click="changeOrder('name')">Order by name</button>
    <button ng-click="changeOrder('details')">Order by details</button>

    <div ng-repeat="person in people | filter: {name: nameFilter} | orderBy: orderByAttribute:descending">
      <h3 ng-click="toggleVisible(person)">{{ person.name }}</h3>
      <p ng-if="person.detailsVisible">{{ person.details }}</p>
    </div>

    <div id="form">
      <div id="errors">
        <p ng-repeat="error in errors">{{ error }}</p>
      </div>
      Name: <input ng-model="newPersonName">
      Details: <input ng-model="newPersonDetails">
      <button ng-click="addPerson(newPersonName, newPersonDetails)">Add Person</button>
    </div>

  </div>
</div>
