<h1>Interesting People</h1>
<div ng-app="app">
  <div ng-controller="peopleCtrl" ng-init="fetchData()">
    <label>Filter By Name:</label>
    <input ng-model="nameFilter">
    <div ng-repeat="person in people | filter: { name: nameFilter }">
      <h3 ng-click="toggleVisible(person)">{{ person.name }}</h3>
      <p ng-if="person.detailsVisible">{{ person.details }}</p>
    </div>

    <div id="form">
      <div id="errors">
        <p ng-repeat="error in errors">{{ error }}</p>
      </div>
      Name: <input ng-model="newPersonName">
      Details: <input ng-model="newPersonDetails">
      <button ng-click="addPerson(newPersonName, newPersonDetails)">Add Person</button>
    </div>

  </div>
</div>
