<h1>Interesting People</h1>
<div ng-app="app">
  <div ng-controller="peopleCtrl">
    <div ng-repeat="error in errors">
      {{ error }}
    </div>
    <label>Name:</label>
    <input ng-model="newPersonName">
    <label>Details:</label>
    <input type="textarea" ng-model="newPersonDetails">
    <button ng-click="addPerson(newPersonName, newPersonDetails)">Add Person</button>
    <br>
    <br>
    <button ng-click="changeOrder('name')">Sort By Name</button>
    <button ng-click="changeOrder('details')">Sort By Details</button>

    <datalist id="names">
      <option ng-repeat="person in people" value="{{ person.name }}">{{ person.name }}</option>
    </datalist>

    <label>Search:</label>
    <input list="names" ng-model="nameFilter">

    <div ng-repeat="person in people | filter: { name: nameFilter } | orderBy:orderAttribute:sortDirection" >
      <h3 ng-click="toggleVisible(person)">{{ person.name }}</h3>
      <p ng-if="person.detailsVisible">{{ person.details }}</p>
    </div>
  </div>
</div>
