<h1>Interesting People</h1>
<div ng-app="app">
  <div ng-controller="peopleCtrl">
    <h3>Add interesting person</h3>
    <label>Name:</label>
    <input ng-model="newPersonName">
    <label>Details:</label>
    <input type="text" ng-model="newPersonDetails">
    <button ng-click="addPerson(newPersonName, newPersonDetails)">Save person</button>
    <br>
    <br>
    <label>Filter:</label>
    <input ng-model="nameFilter">
    <div id="order-buttons">
      <button ng-click="changeOrderAttribute('name')">Order by name</button>
      <button ng-click="changeOrderAttribute('details')">Order by details</button>
    </div>
    <div ng-repeat="person in people | filter: {name: nameFilter} | orderBy:orderByAttribute:descending">
      <h3 ng-click="toggleVisible(person)">{{ person.name }}</h3>
      <p ng-if="person.detailsVisible">{{ person.details }}</p>
    </div>
  </div>
</div>
