// Place all the styles related to the people controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.ng-enter, .ng-move{
  -webkit-animation: fadeInUpBig 1s;
  -moz-animation: fadeInUpBig 1s;
  -o-animation: fadeInUpBig 1s;
  animation: fadeInUpBig 1s;
}
 
.ng-leave{
  -webkit-animation: bounceOutUp 1s;
  -moz-animation: bounceOutUp 1s;
  -o-animation: bounceOutUp 1s;
  animation: bounceOutUp 1s;
}
